
html, body{
    font-family: 'Helvetica Neue', arial, sans-serif;
    font-weight: 300;
}

.sidebar-list{
    text-align: end;
    padding: 0px;
}

.sidebar-list-small{
    font-size: 0.9em;
}

li{
    list-style: none;
}

a{
  color: red;
  text-decoration: none;
}

.sidebar{
    width: 180px;
    
    a{
        color: #aaa;
    }
}


em{
    font-size: 0.9em;
}


@media (prefers-color-scheme: light) {
 
  body{
      background: url(/noise_light-grey.jpg);
  }
}
