
.sidebar-list{
  text-align: end;
  padding: 0px;
}

li{
    list-style: none;
}

a {
  color: red;
  text-decoration: none;
}

.sidebar{
    width: 180px;
    
    a{
    color: #aaa;
    }
}

html, body{
    font-family: 'Helvetica Neue', arial, sans-serif;
    font-weight: 300;
}

em{
    font-size: 0.9em;
}
