
/* Container for whole page */

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    
    font-family: 'Helvetica Neue', arial, sans-serif;
    font-weight: 300;
}

.flex-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px 45px 0px 45px;
    min-height: 300px;
    min-width: 400px;
}

.top-content{
    flex: 0 1 auto;
}

/* Container for map and sidebar */

.map-sidebar-container{
    display: flex;
    flex: 1 0 auto;
    border: 1px solid grey;
}

.sidebar{
    display: flex;
    width: 250px;
    border-right: 1px solid grey;
    overflow-y: auto;
}

/* Styled list - no idea why setting listbox height to 0 forces list to scroll rather than overflow */

.listbox{
    height: 0px;
    cursor: pointer;
    padding: 0px;
}

.listItem{
    height: 26px;
    width: 250px;
    border-radius: 4px;
    margin: 0px 0px 1px 0px;
    padding: 1px 0px 0px 15px;
    font-size: 0.9em;
}

.listItem:hover{
    background-color: #BBBBBB;
    color: black;
}


@media (prefers-color-scheme: light) {
  .listItem.hover{
    background-color: #444;
    color: white;
  }
    
  body{
      background: url(/ourtravels/noise_light-grey.jpg);
  }
}


/* map fills whole div */

#map {
    flex-grow: 1;
}


/* Pulsing Icon */

.pulse {
   display: block;
   border-radius: 50%;
   cursor: pointer;
   animation: pulse .75s infinite;
}

@keyframes pulse {
   0% {
     box-shadow: 0 0 0 0;
   }
   70% {
       box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
   }
   100% {
       box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
   }
 }
 
.pulsatingIcon{
   background: none;
   border: none;
}

