
.city-label {
    background: white;
    border: 1px solid #888;
    position: relative;
    display: inline-block;
    white-space: nowrap;
}

.city-label-0 { 
    font-size: 11px;
    color: black;
    padding: 0px 3px;
    line-height: 14px;
}
