
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: url(../images/noise_light-grey.jpg);;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 200;
}

h1{
	font-size: 3em;
	font-weight: 300;
	margin: 0 0 20px;
	text-align: center;
}

hr{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #fff;
	margin: 25px 0;
	clear: both;
}

p{
	clear:both;
	margin-top: 15px;
}

.centered{
	text-align: center;
}

.wrapper{
	width: 100%;
	padding: 30px 0;
}

#container{
	width: 1200px;
	margin: 0 auto;
	display: block;
}

/* ----- Trip grid ----- */

.grid{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 2.5%;
  grid-row-gap: 25px;
}

.gridItem{
	background-color: #fff;
	padding: 10px;
	border: 1px solid #ddd;
  	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
}

.grid h3{
	margin: 10px 0 8px;
}

.grid p {
	font-size: 1em;
	line-height: 1.5em;
	color: #777;
}

.gridItem:hover{
	border: 1px solid #777;
	box-shadow: 0 0 3px 1px rgba(0, 140, 186, 0.5);
}

.grid > div img {
	width: 255px;
	height: 167px;	
}

#date {float: left;}
#days {float: right;}

#footer{
	margin: 10px 0px 10px 0px;
	//height: 20px;
	text-align: center;
	font-size: 11px;
}
